* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Chakra Petch', sans-serif;
}

ul {
  list-style: none;
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 94%;
  max-width: 1320px;
  margin: auto;
  font-size: 1.5rem;
  text-align: center;
}

h1 {
  margin-top: 1rem;
  font-size: 3rem;
  text-decoration: underline;
}

#welcome_message > p {
  margin: 1rem 0 1.5rem;
}

#welcome_message > button,
#user_inputs > button {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: 1px solid black;
  font-size: 1.5rem;
  color: black;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.4s, background-color 0.4s;
}

#welcome_message > button:hover {
  color: white;
  background-color: black;
}

#numbers_list > li:nth-child(odd) {
  margin: 1rem 0;
}

#user_inputs {
  display: none;
  flex-direction: column;
  align-items: center;
}

#user_inputs > label {
  margin: 2rem 0 0.75rem;
}

#user_inputs > button {
  margin: 0.75rem 0;
}

#user_inputs > input {
  margin-bottom: 0.75rem;
  width: min(60%, 300px);
  border: none;
  border-bottom: 1px solid black;
  font-size: 1.5rem;
  text-align: center;
}

#result {
  margin-top: 2rem;
}